DATABASE_URL="postgresql://postgres:YOUR_DB_PASSWORD@localhost:5432/blog?schema=public"
JWT_SECRET="generate-with-openssl-rand-hex-32"
IMG_UPLOAD_TOKEN="your-img-hosting-api-token"
IMG_USERNAME="your-img-hosting-username"
IMG_PASSWORD="your-img-hosting-password"
